@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');

.nunito-regular {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-medium {
  font-family: "Nunito", serif;
  font-weight: 500;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", serif;
  font-weight: 700;
  font-style: normal;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.primary-btn{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.primary-btn-icon{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-3xl p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}


/* .print-container{
  @apply hidden;
} */


@media print{
  #float-btn, .no-print{
    display: none;
  }

  .print-container{
    @apply block;
  }
}